<footer class="container-fluid footer static-bottom">
  <div class="col-md-12 pt-5 text-center">
    <button type="button" class="float-center btn btn-tw mt-1 ml-1"><a href="https://twitter.com/Yankees"><i class="fa fa-twitter"
          style="color:rgb(0, 172, 237)"></i></a></button>
    <button type="button" class="float-center btn btn-ins mt-1 ml-1"><a href="https://www.instagram.com/spacex/"><i
          class="fa fa-instagram" style="color:rgb(215, 25, 99)"></i></a></button>
    <button type="button" class="float-center btn btn-email mt-1"><a href="mailto:zack21wiseman@hotmail.com?Subject=From%20Web%20Page"
        target="_top"><i class="fa fa-envelope"></i></a></button>
    <button type="button" class="float-center btn btn-git mt-1 mr-1"><a href="https://github.com/zwiseman"><i class="fa fa-github"
          style="color:rgb(0, 0, 0)"></i></a></button>
  </div>
</footer>
