.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(78, 78, 78); */
}

.btn.btn-fb {
  color: white;
  background-color: rgba(59, 88, 152, 0);
  font-size: 30px;
}

.btn.btn-tw {
  color: rgb(0, 172, 237);
  background-color: rgba(0, 172, 237, 0);
  font-size: 30px;
}

.btn.btn-ins {
  color: white;
  background-color: rgba(138, 58, 185, 0);
  font-size: 30px;
}

.btn.btn-git {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
}

.btn.btn-email {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
}
