.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.vl {
    border-left: 1px solid #292114;
    height: 29px;
}

.bottomBorder {
    border-bottom: 1px solid white;
}

.bottomBorder:hover {
    background-color: darkgray;
}
