<nav class="navbar navbar-expand-md navbar-right navbar-light" style="font-size:20px;">
  <button class="navbar-toggler" (click)="setHeight()" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" collapsed="isCollapsed">
    <ul class="nav navbar-nav col-md-12">
      <li class="col-md-12 bottomBorder nav-item active">
        <a class="nav-link" style="color: #C2564C;" routerLink=''>Home</a>
      </li>
      <li class="col-md-12 bottomBorder nav-item active">
        <a class="nav-link" style="color: #C2564C;" routerLink="/weather">Weather</a>
      </li>
      <li class="col-md-12 bottomBorder nav-item active">
        <a class="nav-link" style="color: #C2564C;" routerLink="/genericbst">BST</a>
      </li>
      <li class="col-md-12 bottomBorder nav-item active">
        <a class="nav-link" style="color: #C2564C;" routerLink="/createbst">Create BST</a>
      </li>
      <li class="col-md-12 bottomBorder nav-item active">
        <a class="nav-link" style="color: #C2564C;" routerLink="/employees">Mock Employees</a>
      </li>
      <li>
        <app-footer></app-footer>
      </li>
    </ul>
  </div>
</nav>
