<div *ngIf="data" style="color:white">
  <h3 class="text-center">The {{location['city']}}, {{location['state']}} weather forecast</h3>
  <hr>
  <div class="container mt-2">
    <div class="row">
      <div class="col float-left">
        <img class="img-fluid" src="http://api.wunderground.com/api/83e8c2eba2c4b5d3/animatedradar/animatedsatellite/q/{{location['state']}}/{{location['city']}}.gif?num=10&delay=50&interval=50&rad.rainsnow=1&rad.height=700&rad.width=700&sat.height=700&sat.width=700&sat.smooth=1&sat.basemap=1&rad.smooth=1&rad.radius=500&sat.radius=500">
      </div>
      <div class="col">
        <p> Temperature: {{data['temperature_string']}}</p>      
        <p> Feels Like: {{data['feelslike_string']}}</p>
        <p> Wind Chill: {{data['windchill_string']}}</p>   
        <p> Wind status: {{data['wind_string']}}</p>      
        <p> Wind direction: {{data['wind_dir']}}</p>   
        <p> Wind speed: {{data['wind_gust_mph']}}</p>   
        <p> Local time: {{data['local_time_rfc822']}}</p>        
      </div>
    </div>
  </div>
</div>