<div class="container-fluid"> 

  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6">
      <h1 class="header-text"><b>MISSION</b></h1>
      <p>
        &nbsp; &nbsp; The pursuit of knowledge and improvement my skills as a person, engineer, student are incredibly important.
        As a software engineer I take pride in writing efficient, clean, readable code.
        My goal is to create useful, intellegent software that will have an impact.
      </p>
      <p class="pt-1">
        Some of the most satisfying 
        and more accomplished moments of my career have been when I ahev created a tool to make a process better, or 
        the creation of a tool that help people in everyday activities. I would like to expand my knowledge and 
        skillset to create innovative tools to eventually help sove world issues. 
      </p>
      <p class="pt-1">
        Science is a passion of mine. I have a strong connection to environmental practices and making processes
        more effiecient. I also nerd out over physics, energy and obviously computer science. As My career continues
        I would like to be able to incorporate other types of science in projects I undertake. 
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row" style="background-color: #292114">
    <p>helo</p>
  </div>

  <div class="row justify-content-center">
    <a class="btn btn-large btn-square w-50" style="color: #292114;background-color: #C2564C;" role="button" aria-pressed="true" href="../../assets/ZWResume.pdf" download="ZWResume.pdf">Resume <i class="fa fa-file-pdf-o"></i></a>
  </div>
</div>

<footer class="container-fluid footer static-bottom mt-5">
    <div class="col-md-12 pt-5 text-center">
      <button type="button" class="float-center btn btn-tw mt-1 ml-1"><a href="https://twitter.com/Yankees"><i class="fa fa-twitter" style="color:rgb(0, 172, 237)"></i></a></button>
      <button type="button" class="float-center btn btn-ins mt-1 ml-1"><a href="https://www.instagram.com/spacex/"><i class="fa fa-instagram" style="color:rgb(215, 25, 99)"></i></a></button>
      <button type="button" class="float-center btn btn-email mt-1"><a href="mailto:zack21wiseman@hotmail.com?Subject=From%20Web%20Page" target="_top"><i class="fa fa-envelope"></i></a></button>
      <button type="button" class="float-center btn btn-git mt-1 mr-1"><a href="https://github.com/zwiseman"><i class="fa fa-github" style="color:rgb(0, 0, 0)"></i></a></button>
      <img class="float-right" style="opacity:0.5" width="25" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      <p class="float-right y-0" style="color:grey"> built with </p>
    </div>
  </footer>
  
