<div class="border border-dark w-75 p-3 container justify-content-center">
  <h3 class="text-center" style="color:blanchedalmond">
    Professional
  </h3>
  <hr>
  <div style="color:blanchedalmond"> 
    <p>I am a Software Engineer currenly based in Asheville, NC. I have worked as a developer for 
      around a year and a half. I completed my Bachelor of Science in Computer Science with a concentration 
      in Computer Systems from The University of North Carlolina at Asheville in December 2016.
    </p>
    <p>For more info, below is a download link of my resume.</p>
    <a href="../../assets/ZWResume.docx" download="ZWResume.docx">My Resume</a>
  </div>
</div>


