<div class="border border-dark w-75 p-3 mt-5 container justify-content-center">
  <h3 class="text-center" style="color:blanchedalmond">
    Professional
  </h3>
  <hr>
  <div class="container" style="color:blanchedalmond"> 
    <p>I am a Software Engineer currenly based in Asheville, NC. I have worked as a developer for 
      around a year and a half. I completed my Bachelor of Science in Computer Science with a concentration 
      in Computer Systems from The University of North Carlolina at Asheville in December 2016.
    </p>
    <p>For more info, below is a download of my resume.</p>
    <div class="row justify-content-center">
      <a class="btn btn-sm active" style="color:blanchedalmond;background-color:rgb(73, 21, 21);" role="button" aria-pressed="true" href="../../assets/ZWResume.pdf" download="ZWResume.pdf">Resume <i class="fa fa-file-pdf-o"></i></a>
    </div>
  </div>
</div>


