.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #2c3531;
}

th:hover {
    &:after {
        content:'\f0dc';
        font-family: FontAwesome;
        font-size: 10px;
        padding-left: 10px;
    }
}

.btn-add {
  font-size: 25px;
}

.btn-no-background {
  background: none;
}

.table-dark {
  background-color: #0f292f;
  color: #14a098;
}