hr {
    border: 0;
    display:block;
    background-color:rgb(65, 20, 21);
    height: 2px;
}

h1 {
    padding-top: 2%;
    padding-left: 10%;
}

btn.btn-square {
    border-radius: 0;
}

a {
    color:white;
}
 .pad {
     padding-top: 3%;
 }