<h1 class="text-left mt-3 ml-3" >
    <p style="font-size:50px;color: rgb(172, 8, 8)">Zack Wiseman</p> 
    <button type="button" class="float-right btn btn-fb mt-1"><a href="https://www.facebook.com/zack.wiseman.3"><i class="fa fa-facebook"></i></a></button>
    <button type="button" class="float-right btn btn-tw mt-1 ml-2 mr-2"><a href="https://twitter.com/zackw12"><i class="fa fa-twitter"></i></a></button>
    <button type="button" class="float-right btn btn-ins mt-1 ml-2"><a href="https://www.instagram.com/zack21wiseman/"><i class="fa fa-instagram"></i></a></button>
    <button type="button" class="float-right btn btn-email mt-1"><a href="mailto:zack21wiseman@hotmail.com?Subject=From%20Web%20Page" target="_top"><i class="fa fa-envelope"></i></a></button>
    <button type="button" class="float-right btn btn-git mt-1 mr-2"><a href="https://github.com/zwiseman"><i class="fa fa-github"></i></a></button>
    <app-navbar></app-navbar>
</h1>
<hr class="align-top">
<app-info></app-info>
<footer class="fixed-bottom text-right">
  <img class="float-right mb-3" style="opacity:0.5" width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <p class="float-right y-0" style="color:grey"> built with </p>
</footer>
