<div>
  <h1 mat-dialog-title>Employee Details </h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input *ngIf="disabled" disabled matInput [(ngModel)]="employee.firstName">
      <input *ngIf="!disabled" matInput [(ngModel)]="employee.firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput *ngIf="disabled" disabled [(ngModel)]="employee.lastName">
      <input matInput *ngIf="!disabled" [(ngModel)]="employee.lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Job</mat-label>
      <input matInput *ngIf="disabled" disabled [(ngModel)]="employee.job">
      <input matInput *ngIf="!disabled" [(ngModel)]="employee.job">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Equipment</mat-label>
      <input matInput *ngIf="disabled" disabled [(ngModel)]="employee.equipment">
      <input matInput *ngIf="!disabled" [(ngModel)]="employee.equipment">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput *ngIf="disabled" disabled [(ngModel)]="employee.address">
      <input matInput *ngIf="!disabled" [(ngModel)]="employee.address">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button *ngIf="disabled" disabled (click)="close()">close</button>
    <button mat-button *ngIf="!disabled" (click)="close()">close</button>
    <button mat-button *ngIf="disabled" disabled cdkFocusInitial (click)="update()">Save</button>
    <button mat-button *ngIf="!disabled" cdkFocusInitial (click)="update()">Save</button>
  </div>
</div>
