<div class="container-fluid">
  <div class="row">
    <!-- Line stylings -->
    <div class="top-left"></div>
    <div class="bottom-left"></div>
    <div class="bottom-left-1"></div>
    <div class="bottom-left-2"></div>
    <div class="bottom-right"></div>
    <div class="mid-top"></div>
    <div class="top-right"></div>
    <div class="center-bottom-hz"></div>
    <div class="center-bottom-md"></div>
    <div class="center-bottom-btlt"></div>
    <div class="center-bottom-btrt"></div>
    <div class="center-bottom-btmd"></div>
    <div class="cross-bronx"></div>

    <!-- Styling div and possible microchip -->
    <div class="col-md-5 text-center align-middle center">
      <!-- <fa name="microchip" style="font-size: 250px;color: #292114;" class="" ></fa> -->
    </div>

    <!-- Mission statement -->
    <div class="col-md-6">
      <h1 class="header-text"><b>MISSION</b></h1>

      <p>
        &nbsp; &nbsp; The pursuit of knowledge and improvement my skills as a person, software engineer and student are incredibly
        important. As a software engineer I take pride in writing efficient, clean, readable code. My goal is to create useful,
        intelligent software that will have an impact.
      </p>

      <p class="pt-1">
        Some of the most satisfying and more accomplished moments of my career have been creating 
        tools that help people in everyday activities. I would like to expand my knowledge and
        skillset to create innovative tools to eventually help sove world issues.
      </p>

      <p class="pt-1">
        Science is a passion of mine. I have a strong connection to environmental practices and making processes more effiecient.
        I also nerd out over physics, energy and obviously computer science. As My career continues I would like to be able
        to incorporate other types of science in projects I undertake.
      </p>
    </div>

    <!-- Styling div -->
    <div class="col-md-1"></div>
  </div>
</div>

<!-- Projects container and title -->
<!-- <div class="container-fluid light-text" style="background-color: rgb(78, 78, 78);">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <h1 class="light-text pt-3"><b>PROJECTS</b></h1>
    </div>
  </div>

  key information on projects
  <div class="row">
    <div class="col-md-12 text-center small-text">
      <p><i class="fa fa-battery-half" aria-hidden="true"></i> Some projects may not be fully explained or listed due to non-disclosure
        argreements
      </p>
    </div>
  </div>

  Projects header row
  <div class="row text-center light-text">
    <div class="col-md-4 text-center">
      <h4><i class="fa fa-briefcase small-text" aria-hidden="true"></i> Extract. Transform. Load</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-briefcase small-text" aria-hidden="true"></i> Sage X3 for Construction</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-briefcase small-text" aria-hidden="true"></i> Document Management</h4>
    </div>
  </div>

  <br/>

  <div class="row text-center light-text">
    <div class="col-md-4 text-center">
      <h4><i class="fa fa-globe small-text" aria-hidden="true"></i> Resource Planning Tool</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-globe small-text" aria-hidden="true"></i> Personal Website</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-globe small-text" aria-hidden="true"></i> User Authentication</h4>
    </div>

  </div>

  <br/>

  <div class="row text-center light-text">
    <div class="col-md-4 text-center">
      <h4><i class="fa fa-globe small-text" aria-hidden="true"></i> Star Explorer</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-globe small-text" aria-hidden="true"></i> Utilities Calculator</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-graduation-cap small-text" aria-hidden="true"></i> Senior Project</h4>
    </div>
  </div>

  <br/>

  <div class="row text-center light-text">
    <div class="col-md-4 text-center">
      <h4><i class="fa fa-graduation-cap small-text" aria-hidden="true"></i> Data Structures</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-graduation-cap small-text" aria-hidden="true"></i> Othello</h4>
    </div>

    <div class="col-md-4 text-center">
      <h4><i class="fa fa-graduation-cap small-text" aria-hidden="true"></i> Traffic Light</h4>
    </div>
  </div>

  key information on projects
  <div class="row">
    <div class="col-md-12 text-center small-text">
      <p><i class="fa fa-code-fork" aria-hidden="true"></i> Projects roughly ordered by most recent from left to right</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center small-text">
      <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> acedemic,
        <i class="fa fa-globe" aria-hidden="true"></i> personal,
        <i class="fa fa-briefcase" aria-hidden="true"></i> professional
      </p>
    </div>
  </div>

</div> -->

<!-- <div class="row justify-content-center">
  <a class="col-md-12 btn btn-large btn-square w-50" style="color: #292114;background-color: #C2564C;" role="button" aria-pressed="true"
    href="../../assets/ZWResume.pdf" download="ZWResume.pdf">Resume <i class="fa fa-file-pdf-o"></i></a>
</div> -->